<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appID</key>
	<string>1581</string>
	<key>accessKey</key>
	<string>1174f342ef932a66c5a88b57390dcb2574abf3e1</string>
	<key>signatureKey</key>
	<string>8a634c1e003c40bed05c013c149cf71116186aaf</string>
	<key>appUUID</key>
	<string></string>
</dict>
</plist>
