<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appID</key>
	<string>2076</string>
	<key>accessKey</key>
	<string>4a279d8862e9ef6e7fe2f2c929510e997da31cff</string>
	<key>signatureKey</key>
	<string>54d033f18e65d02533956623a6a75ebf72fc2350</string>
	<key>appUUID</key>
	<string>2b3a726b-55f4-46fd-a099-f34f0ddddefb</string>
</dict>
</plist>
