<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buildingID</key>
	<integer>65635</integer>
	<key>campusID</key>
	<real>34662</real>
	<key>floorID</key>
	<integer>257507</integer>
	<key>zoomLevel</key>
	<integer>19</integer>
	<key>MSE</key>
	<dict>
		<key>venueGUID</key>
		<string>7f081059-8b6c-4afa-a7f9-d4806d0ed547</string>
		<key>floorIDMapping</key>
		<dict>
			<key>102755</key>
			<integer>109189</integer>
			<key>103318</key>
			<integer>109189</integer>
		</dict>
	</dict>
	<key>BLE</key>
	<dict>
		<key>customerIdentifier</key>
		<string>c3f5aa2d-f6a9-4477-80ed-3d8ccfd6fddb</string>
		<key>floorIDMapping</key>
		<string>251451</string>
		<key>mapIdentifier</key>
		<string>bb92e5c5-60f6-4f3d-9f40-8673fd39b5df</string>
	</dict>
</dict>
</plist>
